/*Style pour le fichier index.html ainsi que les éléments header et footer pour les deux fichiers*/

header{
    height: 250px;
    background-color: #B1C2ED;
    font-family: Arial, Helvetica, sans-serif; 
}

header h1{
    font-size: 64px;
    color: white;
    padding-top: 50px;
    margin-bottom: 10px;
}

header p{
    font-size: 36px;
    font-weight: bold;
    color:blue;
    margin-top: 10px;
}

#entete{
    margin-left: 60px;
}
nav{
    background-color:#9C6B6B;
    height: 62px;
    
}

nav li{
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}

nav a{
    color:black;
    font-weight: bold;
    
}
.accueil{
     text-decoration: none; 
     color: white;   
}


main{
    min-height: 1200px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    font-family: 'Rubik', sans-serif;
}

.containerimages{
    width: 1200px;
}

#principale {
    width: 100%;
    display: block;
    height: 600px;
    margin-top: 25px; 
}

.sectionprincipale{
    width: 76%; 
    height: 600px;
    background-color:#C4C4C4; 
    float:left;
}

.texteContenu{
    margin-left: 20px;
    margin-right: 18px; 
}

.lienlecture a{
    float: right;
    font-weight: bold;
    color: black
}



.sectionaside{
    float: right;
    width: 23%;
    height: 600px;
}


aside{
    background-color:#B96767;
    height: 523px;
    padding-top: 5px;
    
}

aside ul{
    list-style-type: none;
    font-size: 18px;
    padding-left: 7%;
    padding-bottom: 0 auto;
}

aside li{
    font-size: bold;
    color:white;
}

#titreaside{
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
}

.centerdiv{
    width: 100%;
    display: block;
    height:300px;
    margin-top: 20px; 
    margin-bottom: 60px;
}

.boitevide{
    width: 19%;
    background: lightgrey;
    height: 340px; 
    float: left;
}


.boitepleine{
    width: 56%;
    height: 170px;
    background: lightgrey; 
    margin-left:15px;
    float: left;
    padding-top: 20px; 
} 

.boitevide2{
    width: 22%;
    float: right;
    background: lightgrey;
    height: 340px; 
}

h2{
    font-size: 36px;
    margin-bottom: 0%;
    margin-left: 0.6px;

}

h3{
    font-size: 18px;
    margin-top: 0%;
    margin-left: 0.5px;
}

#titrearticle{
    text-align: center;
}

footer{
    height: 105px;
    background-color:#898989;
    text-align: center;
    margin-top: 10px;
    
}

footer p{
    padding: 48px 0 50px 0;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


/* Ici ce sont les styles pour la page nospokemons.html*/

article{
    width: 100%;
    display: block;
    padding: 0 0 1.5% 0;
    height: 400px;
}

.imagespikachu{
    float: left;
    width: 20%;
    height: 300px;
}

.contenuimages{
    width: 80%; 
    height: 100%;
    background-color:#C4C4C4; 
    float: right;
   }

.textepikachu
{
    margin-left: 50px;
    
}

.paragraphe{
    line-height: 0.2em;
}

.statistique{
    font-weight: bold;
}

img{
    height: 380px;
    width: 102%;
}